/*PROJECTS MODAL CSS MODULE*/

/* Styles for the language modal */
.projectsModal {
    position: fixed; /* Fixes the modal's position relative to the viewport */
    top: 50%; /* Positions the top edge of the modal at the vertical center of the viewport */
    left: 50%; /* Positions the left edge of the modal at the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Centers the modal both vertically and horizontally using negative translations */
    z-index: 1; /* Sets the stacking order of the modal to make sure it appears above other elements */
    
    /* Sets fixed dimensions for the modal */
    width: 70%; /* Sets the width of the modal to 50% of its parent element's width */
    height: 70%; /* Sets the height of the modal to 45% of its parent element's height */
  }
  
  /* Cross icon for closing the modal */
  .closeModal {
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    transition: transform 0.2s; /* Applies a smooth transition effect on the "transform" property over 0.2 seconds */
  }
  
  .closeModal:hover {
    transform: scale(1.2); /* Increases the icon size by 20% on hover */
  }

  .titleLink {
    text-decoration: none;
  }
  
  .titleLink:hover {
    text-decoration: underline;
  }
  
  .projectList{
    overflow-y: auto; /* Adds a vertical scrollbar if the content overflows vertically */

  }

  .projectList li{
    transition: background-color 0.5s; /* Transició de 2 segons per al canvi de color */
    padding: 10px;
    border-radius: 5px;
  }
  
  .projectList li:hover {    background-color: #f2f2f2f2 !important; /* Color de fons gris clar al fer hover */
    cursor: pointer;
  }
  
  /* ProjectModal.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Capa opaca de color negre */
  z-index: 1040; /* Z-index per assegurar que està per sobre de la resta del contingut */
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsModal {
  z-index: 1050; /* Un z-index més alt per estar per sobre de l'overlay */
  width: 70%;
  height: 70%;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.closeModal {
  cursor: pointer;
  transition: transform 0.2s;
}

.closeModal:hover {
  transform: scale(1.2);
}

.projectList img {
  max-width: 15%;  /* Ajusta la mida de la imatge relativa al contenidor */
  max-height: 15%;
  width: auto;
  height: auto;
  object-fit: contain; /* Manté les proporcions */
}