/*EDUCATION MODULE*/

/* Add black points to the vertical line */
.verticalLine {
  margin-left: 7px;
  border-left: 4px solid #212529;
  position: relative;
  height: 98%;
}

.timeLine{
  margin-top: 7px;
}


.point {
  position: absolute;
  background-color: #212529;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.point.start {
  top: -0.2%;
  left: -2px;
}

.point.middle {
  top: 34.7%;
  left: -2px;

}

.point.end {
  top: 68.75%;
  left: -2px;
}

.point.start::before,
.point.middle::before,
.point.end::before,
.point.start::after,
.point.middle::after,
.point.end::after {
  content: '';
  position: absolute;
  background-color: white; /* White color for the points */
  width: 8px; /* Adjust the size of the points as needed */
  height: 8px; /* Adjust the size of the points as needed */
  border-radius: 50%;
  top:25%;
  transform: translateX(-50%);
  left: 50%; /* Position the points in the center of the existing black points */
  z-index: 2; /* Place the white points above the black points */
}


/* Define the base styles for the .educationDiv */
.educationDiv {
    position: relative;
    cursor: pointer;
    background: white; /* Base background color */
    overflow: hidden;
    z-index: 0; /* Set a higher z-index to keep the text above the sliding background */
    transition: background-color 0.3s ease; /* Add a transition for the background-color change on hover */
    
  }

  .a4EducationDiv {
    position: relative;
    cursor: pointer;
    background-color: rgb(114, 25, 25); /* Base background color */
    overflow: hidden;
    z-index: 0; /* Set a higher z-index to keep the text above the sliding background */
    transition: background-color 0.3s ease; /* Add a transition for the background-color change on hover */
  }

  /* Define the pseudo-element that represents the yellow background */
.educationDiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Start position, hidden to the left */
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f2f2f2, #f2f2f2); /* Yellow gradient, adjust colors if needed */
    transition: left 0.3s ease; /* Transition the right property */
    z-index: -1; /* Set a lower z-index to place the pseudo-element behind the content */
}

.educationDiv:hover p {
    font-weight: bold; /* Make the text bold */
}


.point.active::before,
.point.active::after {
  background-color: #212529; /* Change the background color to red for active points */
}
