/* EDUCATION MODAL CSS MODULE */

/* Styles for the language modal container */
.languageModal {
  position: fixed; /* Fixes the modal's position relative to the viewport */
  top: 50%; /* Positions the top edge of the modal at the vertical center of the viewport */
  left: 50%; /* Positions the left edge of the modal at the horizontal center of the viewport */
  transform: translate(-50%, -50%); /* Centers the modal both vertically and horizontally using negative translations */
  z-index: 1; /* Sets the stacking order of the modal to make sure it appears above other elements */

  /* Set fixed dimensions for the modal */
  width: 60%; /* Sets the width of the modal to 60% of its parent element's width */
  height: 70%; /* Sets the height of the modal to 70% of its parent element's height */
  background-color: #fff; /* Sets a background color to ensure visibility of the modal */
  border-radius: 8px; /* Adds rounded corners to the modal for a better appearance */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle box shadow to the modal */
}

/* Styles for the card body inside the modal */
.cardBody {
  height: 60vh; /* Sets a fixed height for the card body to 60% of the viewport height */
  overflow-y: auto; /* Adds a vertical scrollbar if the content overflows vertically */
}

/* Cross icon for closing the modal */
.closeModal {
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: transform 0.2s; /* Applies a smooth transition effect on the "transform" property over 0.2 seconds */
}

/* Cross icon scaling on hover */
.closeModal:hover {
  transform: scale(1.2); /* Increases the icon size by 20% on hover */
}

.certificate {
  position: relative; /* Positions the degree link relative to its normal position in the document flow */
  display: inline-block; /* Displays the link as an inline block element */
  transform: scale(1); /* Sets the initial size of the degree link */
  text-decoration: underline; /*Applies an underlined to the text*/
}

.certificate:hover {
  font-weight: bold; /* Applies bold font-weight to the text of the degree link on hover */
}
