/* SkillsComponent.module.css */
.skillsDiv {
    position: relative;
    cursor: pointer;
    background: white;
    overflow: hidden;
    z-index: 0;
    transition: background-color 0.3s, color 0.3s;
  
    /* Add your other base styles here */
  }
  
  
  .skillsDiv:hover {
    background-color: #f2f2f2; /* Change the background color on hover */
    cursor: pointer;
  }
  
  /* Add styles for the hovered state */
  .hovered::before {
    left: 0;
  }
  

  .projectsLink {
    text-decoration: none; /* Remove the initial underline decoration */
    transition: border-bottom 0.2s; /* Add a transition effect for the underline */
  }
  
  .projectsLink:hover {
    border-bottom: 2px solid underline; /* Add a solid underline on hover */
    text-decoration: underline; /* Underline the text on hover */
  }