/* SkillsComponent.module.css */
.skillsDiv {
    position: relative;
    cursor: pointer;
    background: white;
    overflow: hidden;
    z-index: 0;
    transition: background-color 0.3s ease;
  
    /* Add your other base styles here */
  }
  
  .skillsDiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f2f2f2, #f2f2f2);
    transition: left 0.3s ease;
    z-index: -1;
  }
  
  .skillsDiv:hover::before {
    left: 0;
  }
  
  /* Add styles for the hovered state */
  .hovered::before {
    left: 0;
  }
  

  .projectsLink {
    text-decoration: none; /* Remove the initial underline decoration */
    transition: border-bottom 0.2s; /* Add a transition effect for the underline */
  }
  
  .projectsLink:hover {
    border-bottom: 2px solid underline; /* Add a solid underline on hover */
    text-decoration: underline; /* Underline the text on hover */
  }