.experienceItem {
    position: relative;
    cursor: pointer;
    background: white;
    overflow: hidden;
    z-index: 0;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .experienceItem:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .experienceItem.hovered h6 {
    font-weight: bold;
  }

  
  
