/* Adds horizontal padding to the elements with class "content-padding" */
.content-padding {
  padding-left: 10%;
  padding-right: 10%;
}

/* Applies justified text alignment to all <p> (paragraph) elements */
p {
  text-align: justify;
}

/* Creates a semi-transparent black overlay to cover the entire viewport */
.overlay {
  position: fixed; /* Fixes the element's position relative to the viewport */
  top: 0; /* Aligns the top edge of the element to the top of the viewport */
  left: 0; /* Aligns the left edge of the element to the left of the viewport */
  width: 100%; /* Sets the width of the overlay to cover the entire viewport */
  height: 100%; /* Sets the height of the overlay to cover the entire viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Sets the background opacity */
  z-index: 1; /* Sets the stacking order of the overlay to appear above other elements */
}

.bold{
  font-weight: bold;
}


hr {
  margin: 5px 0 5px 0; /* top right bottom left */
}



/* A4 format dimensions */
.a4-format {
  width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  margin: 0 auto; /* Center the content on the page */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.358); /* Add a shadow effect */
  overflow: hidden; /* Hide overflowing content */
}

/* Set the font size to 10pt for better fitting on A4 format */
.a4-format p {
  font-size: 10pt;
}


/*A4 FORMAT STYLING*/

/* Update the padding for better spacing on A4 format */
.a4-format .content-padding {
  padding-left: 11mm;
  padding-right: 11mm;
}

/*General rules*/

.a4-format h1 {
  font-size: 2.6rem;
}

.a4-format h2 {
  font-size: 1.2rem;
}

.a4-format h6 {
  font-size: 0.8rem;
}

.a4-format p {
  font-size: 0.8rem;
}

.a4-format span {
  font-size: 0.75rem;
}

.a4-format hr {
  margin: 5px 0 5px 0; /* top right bottom left */
}
